:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #f5f5f5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869;
}

#root {
  height: 100%;
}
.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "b b b b b b"
    "c c c c p p"
    "c c c c p p"
    "c c c c p p"
    "v v v g p p"
    "v v v g p p"
    "v v v g p p";
}
.wrapper {
  grid-area: c;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "f f f f f n";
}
.navbar {
  grid-area: b;
  display: flex;

  background: #6d7d78;
}
.new-room-form {
  grid-area: n;
}
.rooms-list {
  grid-area: r;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow: scroll;
  height: 100%;
}
.rooms-list ul {
  list-style-type: none;
  padding: 0;
}
.rooms-list li {
  margin: 10px 0;
}

.rooms-list h3 {
  margin: 5px 0;
  color: var(--secondary-color);
}

.rooms-list .room a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

.rooms-list .room.active a {
  color: var(--secondary-color);
}

.message-list {
  grid-area: m;
  overflow-y: scroll;
  overflow-x: hidden;
}
.send-message-form {
  grid-area: f;
}
.send-message-form input {
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: 1px solid mediumaquamarine;
  padding-left: 20%;
}

.new-room-form {
  background: var(--secondary-color);
  color: var(--main-text-color);
  height: 100%;
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.new-room-form form input {
  height: 60px;
  width: 100%;
  font-size: 20px;
  border: 1px solid mediumaquamarine;
}

#create-room-btn {
  color: mediumaquamarine;
  background: gainsboro;
  height: 60px;
}

.join-a-room {
  margin-top: 10%;
  margin-left: 40%;
  font-size: 70px;
}
.message-text {
  padding: 1%;
  background-color: var(--main-color);
  width: fit-content;
  color: white;
  display: -webkit-inline-box;
}
.message-username {
  font-size: 20px;
  margin-left: 5%;
  padding: 1%;
  color: mediumaquamarine;
  font-weight: 500;
  display: -webkit-inline-box;
}

#submit {
  margin-left: 2px;
}

.sign-up {
  margin-right: 30px;
}

.profile {
  background: aqua;
  grid-area: p;
}

.imageSection {
  height: 50px;
}
